@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@font-face {
  font-family: VioletSans;
  src: url("../../../public/assets/fonts/VioletSans-Regular.ttf");
}
body {
  background: linear-gradient(268deg, #000 1.93%, #1b1b1b 100.68%);
  width: 100%;
  overflow-x: hidden;
}
#root {
  background: linear-gradient(268deg, #000 1.93%, #1b1b1b 100.68%);
}
#hero {
  background: linear-gradient(268deg, #000 1.93%, #1b1b1b 100.68%);
  .content {
    .title {
      color: #d4d4d4;
      font-family: VioletSans;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      @media (max-width: 768px) {
        font-size: 26px;
      }
    }
    .desc {
      color: #e7a349;
      font-family: "Space Grotesk", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 124%; /* 19.84px */
    }
  }
  .ph-desc {
    color: #e7a349;
    font-family: "Space Grotesk", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%; /* 19.84px */
  }
  .line-h-1 {
    position: absolute;
    top: 6vw;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0;
    background: #353539;
  }
}
#BlockComponent {
  border-top: 1px solid #353539;
  border-bottom: 1px solid #353539;
}
#video {
  border-bottom: 1px solid #353539;
  .video-mp4 {
    --s: 125px; /* the size on the corner */
    --t: 5px; /* the thickness of the border */
    --g: 20px; /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #fc8500; /* the color here */
    outline-offset: calc(-1 * var(--t));
    mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
    @media (max-width: 768px) {
      --s: 35px; /* the size on the corner */
      --t: 1.5px; /* the thickness of the border */
      --g: 10px; /* the gap between the border and image */
    }
  }
}
#technology {
  .carousel {
    .text {
      color: #d6d6d6;
      font-family: VioletSans;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 28.8px */
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
#features {
  .cards-container {
    border-bottom: 1px solid #353539;
    width: 100%;
  }
  .card {
    .card-left {
      .index {
        color: var(--Schemes-On-Primary, #fff);
        font-family: VioletSans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        --s: 5px; /* the size on the corner */
        --t: 1px; /* the thickness of the border */
        --g: 5px; /* the gap between the border and image */

        padding: calc(var(--g) + var(--t));
        outline: var(--t) solid #fc8500; /* the color here */
        outline-offset: calc(-1 * var(--t));
        mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
            calc(100% - var(--s)) calc(100% - var(--s)),
          linear-gradient(#000 0 0) content-box;
      }
      .title {
        color: #d6d6d6;
        font-family: VioletSans;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
      .description {
        color: var(--Schemes-On-Primary, #fff);
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 108.18%; /* 15.145px */
        @media (max-width: 768px) {
          font-size: 11px;
        }
      }
    }
    .card-right {
      .param,
      .get-a-trial {
        color: #d6d6d6;
        text-align: right;
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
        padding: 20px 25px;
        @media (max-width: 768px) {
          font-size: 11px;
          padding: 8px 10px;
        }
      }
      @media (max-width: 768px) {
        .param {
          width: 50%;
          align-self: flex-end;
        }
      }
      .param:first-child {
        border-top: 1px solid #353539;
      }
      .param {
        border-bottom: 1px solid #353539;
      }
      .get-a-trial {
        border-top: 1px solid #353539;
      }
    }
  }
}
#partnerships {
  width: 100%;
  .left-container {
    width: 16%;
  }
  .center-container {
    width: 68%;
    .title {
      color: #d6d6d6;
      font-family: VioletSans;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 33.6px */
      padding: 50px 0; // Added left padding
      @media (max-width: 768px) {
        font-size: 16px;
        padding: 50px 0 10px 0;
      }
    }
    table {
      width: 100%;
      border: 1px solid #353539; // Added this line
      border-collapse: collapse; // Added this line
      tr {
        display: flex;
      }
      .table-title {
        color: var(--Schemes-On-Primary, #fff);
        font-family: "Space Grotesk", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start; // Changed from center to flex-start
        border-right: 1px solid #353539; // Added this line
        padding: 50px 40px; // Added left padding
        text-align: left;
        @media (max-width: 768px) {
          font-size: 16px;
          padding: 5px;
          text-align: center;
        }
      }
      .table-content {
        color: #bfbfbf;
        font-family: "Space Grotesk";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 108.18%; /* 15.145px */
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 40px; // Matched padding with table-title
        @media (max-width: 768px) {
          font-size: 11px;
          padding: 5px;
        }
      }
      tr:not(:last-child) {
        border-bottom: 1px solid #353539; // Added this line
      }
    }
    .cta {
      padding: 50px 65px;
      @media (max-width: 768px) {
        padding: 15px 10px;
      }
      .cta-text {
        color: var(--Schemes-On-Primary, #fff);
        font-family: "Space Grotesk";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 108.18%; /* 25.963px */
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
  .right-container {
    width: 16%;
  }
}

#faq {
  width: 100%;
  .left-container {
    width: 16%;
  }
  .center-container {
    width: 68%;
    .center-container-right-block {
      border-left: 1px solid #353539; // Added this line
    }
    .QnA-block {
      border-top: 1px solid #353539; // Added this line
      padding: 50px 40px; // Added left padding
      @media (max-width: 768px) {
        padding: 15px 10px;
      }
      .question {
        color: #d6d6d6;
        font-family: VioletSans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 108.18%; /* 21.636px */
        cursor: pointer;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
      .answer {
        color: #d6d6d6;
        font-family: VioletSans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 108.18%; /* 21.636px */
        @media (max-width: 768px) {
          font-size: 11px;
        }
      }
    }
  }
  .right-container {
    width: 16%;
  }
}
#functionalities {
  width: 100%;
  .card {
    width: 50%;
    @media (max-width: 768px) {
      width: 96%;
      margin: auto;
    }
    .img {
      width: 100%;
    }
    .text {
      color: #d6d6d6;
      font-family: "Space Grotesk";
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 28.8px */
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
#contact {
  width: 100%;
  .left-container {
    width: 16%;
  }
  .center-container {
    width: 68%;
    padding: 0 7.5%; // Added left padding
    @media (max-width: 768px) {
      padding: 0 3%;
    }
    .title {
      color: var(--Schemes-On-Primary, #fff);
      font-family: "Space Grotesk";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
  .right-container {
    width: 16%;
  }
}
#whatsappCTA {
  .left {
    color: #d6d6d6;
    font-family: VioletSans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.18%; /* 34.618px */
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
