@font-face {
  font-family: VioletSans;
  src: url("../../../public/assets/fonts/VioletSans-Regular.ttf");
}
nav {
  background-color: #000;
  height: 85px;
  background: linear-gradient(268deg, #000 1.93%, #1b1b1b 100.68%);

  font-family: VioletSans;
}
nav ul li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.menu-gradient {
  background-color: #000;
  opacity: 0.5;
}
